@tailwind base;
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    background-color:black;
  width: 15px;
}

*::-webkit-scrollbar-track {
  background-color:white;
  border-color:black;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #E79B25;
  border-radius: 14px;
  border: 3px solid var(--primary);
}


@tailwind components;
@tailwind utilities;
*,
*:before,
*:after {
  @apply cursor-default;
}